@import url('https://fonts.cdnfonts.com/css/graphik-trial');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: 'Graphik Trial', sans-serif; */
    font-family: 'Rubik', sans-serif;

}

.page {
    overflow-x: hidden;

}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

:root {
    --hulu-green: #1CE783;
    --hulu-grey: #4F4F51;
    --hulu-grey-hover: #36363d;
    --hulu-dark: #0B0C0F;
    /* --hulu-dark:rgb(11,12,15); */


}

/* Common */
.smaller-title {
    font-size: 12px;
    padding-bottom: 8px;
    color: var(--hulu-green);
}

.bigger-title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 25px;
    color: white;
}

.common-p{
    font-size: 16px;
    color: white;
}


/* Header Section Start */
.header {
    background-image: url('../assets/images/main.jpeg');
    background-size: cover;
    /* position: absolute; */
    width: 100vw;
    height: 100vh;

}

.navbar {
    display: flex;
    width: 100%;
    height: 74px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 20px;
    width: 120px;
    margin-left: 15px;



}

.navbar .navbar-button a {

    font-size: 14px;
    color: #A8AFBD;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 60px;


}

.navbar .navbar-button a:hover {

    background-color: var(--hulu-grey-hover);


}

.header .header-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.header .header-body .bundle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
    margin: 20px;

}

.bundle-1,
.bundle-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;

}

/* .bundle-1 h2 {
    font-size: 12px;
    padding-bottom: 8px;

}

.bundle-2 h2 {
    font-size: 12px;
    padding-bottom: 8px;

} */

.streaming-services img {
    width: 220px;
    padding: 10px;

}

.payment-paragraph {
    margin: 16px 0;
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
}


.bundle-button {
    margin: 0 20px;
    padding: 10px 90px;
    border-radius: 5px;
    background-color: var(--hulu-green);
    transition: 0.3s;

}


.bundle-button:hover {

    background-color: rgba(28, 231, 131, 0.75);
    cursor: pointer;
}


.bundle-button a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
}

.header-body-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-body-links a {
    padding: 10px;
    color: white;
    font-size: 16px;

}

a.terms {
    font-size: 14px;
}

/* Header Section End */


/* Built Plan Section Start  */

.built-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 150px;
    background-color: red;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, var(--hulu-dark), #31a76e);

}

.built-plan-paragraph {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 35px 20px;
    margin-bottom: 20px;
    line-height: 1.32;

}

.built-plan-button {
    border: 2px solid white;
    border-radius: 5px;
    margin: 0px 20px;
    margin-bottom: 25px;
    padding: 12px 60px;
    cursor: pointer;
    /* transition: 0.3s; */
}

.built-plan-button a {
    text-decoration: none;
    color: white;
    padding: 22px;
    font-size: 14px;
    font-weight: bold;
}

.built-plan-button:hover {
    background-color: #91a099;
    border: 2px solid #91a099;

}

.built-plan-button:hover a {
    color: black;

}

/* Built Plan Section End  */


/* Included In All Section Start */

.included-in-all {

    padding: 100px 20px;
    width: 100vw;
    height: 100vh;
    background-color: var(--hulu-dark);

}

.included-in-all .included-paragraph {
    padding: 0px 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Included In All Section End */



/* Media Query for low resolution  Tablets, Ipads */
@media(max-width: 767px) {

    .header {

        height: 100%;

    }
}