@import url('https://fonts.cdnfonts.com/css/graphik-trial');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: 'Graphik Trial', sans-serif; */
    font-family: 'Rubik', sans-serif;

}

.page{
    overflow-x: hidden;

}
img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

:root {
    --hulu-green: #1CE783;
    --hulu-grey: #4F4F51;
    --hulu-grey-hover: #36363d;

}


.header {
    background-image: url('../assets/images/main.jpeg');
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.navbar {
    display: flex;
    width: 100%;
    height: 74px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 20px;
    width: 120px;
    margin-left: 15px;
    

    
}

.navbar .navbar-button a{

    font-size: 14px;
    color: #A8AFBD;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 60px;


}

.navbar .navbar-button a:hover{

    background-color: var(--hulu-grey-hover);
    

}

.header .header-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.header .header-body .bundle-container{
    display: flex;
    flex-direction: row;
    gap:30px
    
}

.bundle-1, .bundle-2{
    display: flex;
    flex-direction: column;
    color: var(--hulu-green);
    align-items: center;


}

.bundle-1 h2{
    font-size: 12px;
    padding-bottom: 8px;

}

.bundle-2 h2{
    font-size: 12px;
    padding-bottom: 8px;

}

.streaming-services img{
    width: 220px;
    padding: 10px;

}

.payment-paragraph{
    margin: 16px 0;
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
}


.bundle-button {

    padding: 10px 90px;
    border-radius: 5px;
    background-color: var(--hulu-green);
}


.bundle-button:hover {

    background-color: rgba(28,231,131,0.8);
    cursor: pointer;
}



.bundle-button a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
}

.header-body-links{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-body-links a{
   padding: 10px;
   color: white;
   font-size: 16px;

}

a.terms{
   font-size: 14px;
}


 /* Media Query for low resolution  Tablets, Ipads */ 
 @media(max-width: 767px) { 
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .header .header-body{
        display: flex;
        flex-direction: row;
        
    }
    
    .header .header-body .bundle-container{
        display: flex;
        flex-direction: column;
        
    }
    
   
}

