@import url('https://fonts.cdnfonts.com/css/graphik-trial');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: 'Graphik Trial', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;

}

.page {
    overflow-x: hidden;

}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

:root {
    --hulu-green: #1CE783;
    --hulu-grey: #4F4F51;
    --hulu-grey-hover: #36363d;
    --hulu-dark: #0B0C0F;
    /* --hulu-dark:rgb(11,12,15); */


}

/* Common */
.smaller-title {
    font-size: 12px;
    padding-bottom: 8px;
    color: var(--hulu-green);
}

.bigger-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 25px;
    color: white;

}

.common-p {
    font-size: 16px;
    color: white;
    line-height: 1.32;

}

.disclaimer-comment {
    color: #FFFFFF99;
    font-size: 8px;

}

.disclaimer-comment a {
    color: #FFFFFF99;

}


.hulu-button {
    margin: 0 20px;
    padding: 10px 90px;
    border-radius: 5px;
    background-color: var(--hulu-green);
    transition: 0.2s;

}


.hulu-button:hover {

    background-color: rgba(28, 231, 131, 0.75);
    cursor: pointer;
}


.hulu-button a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
}



/* Header Section Start */
.header {
    background-image: url('../assets/images/main.jpeg');
    background-size: cover;
    /* position: absolute; */
    width: 100vw;
    height: 100vh;

}

.navbar {
    display: flex;
    width: 100%;
    height: 74px;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 20px;
    width: 120px;
    margin-left: 15px;



}

.navbar .navbar-button a {

    font-size: 14px;
    color: #A8AFBD;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 10px;
    margin: 60px;


}

.navbar .navbar-button a:hover {

    background-color: var(--hulu-grey-hover);


}

.header .header-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.header .header-body .bundle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5px;
    margin: 20px;

}

.bundle-1,
.bundle-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;

}

.streaming-services img {
    width: 220px;
    padding: 10px;

}

.payment-paragraph {
    margin: 16px 0;
    margin-bottom: 30px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.bundle-2 
.payment-paragraph{
padding-top: 11px;
}



.header-body-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-body-links a {
    padding: 10px;
    color: white;
    font-size: 16px;

}

a.terms {
    font-size: 14px;
}

/* Header Section End */


/* Built Plan Section Start  */

.built-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: red;
    background-image: linear-gradient(0deg, var(--hulu-dark), #31a76e);

}

.built-plan-paragraph {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 35px 20px;
    margin-bottom: 20px;
    line-height: 1.32;

}

.built-plan-button {
    border: 2px solid white;
    border-radius: 5px;
    margin: 0px 20px;
    margin-bottom: 25px;
    padding: 12px 60px;
    cursor: pointer;
}

.built-plan-button a {
    text-decoration: none;
    color: white;
    padding: 22px;
    font-size: 14px;
    font-weight: bold;
}

.built-plan-button:hover {
    background-color: #91a099;
    border: 2px solid #91a099;

}

.built-plan-button:hover a {
    color: black;

}

/* Built Plan Section End  */


/* Included In All Section Start */

.included-in-all {

    padding: 0px 20px;
    width: 100vw;
    /* min-height: 100px; */
    overflow: hidden;
    background-color: var(--hulu-dark);

}

.included-in-all .included-paragraph {
    padding: 100px 350px 0 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.categories-card {
    margin-top: 50px;
    margin-right: 20px;
}


.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
}

.category {

    position: relative;
    width: 300px;
    border-radius: 10px;
    transition: 0.1s;


}

.category:hover {

    border: 4px solid var(--hulu-grey);
    padding: 5px;
    opacity: 0.4;
}


.category .category-item-image img {
    border-radius: 10px;
    opacity: 0.6;

}

.category-info {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;

}


.category-info span {
    font-size: 12px;

}

.category-info h3 {
    font-size: 20px;
}

.second.common-p {
    font-size: 18px;
}

.included-in-all .disclaimer-comment {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 15px;
    padding-right: 30px;

}


.second.disclaimer-comment {
    padding: 20px 300px 0 300px;
    text-align: center;

}


.included-paragraph .hulu-button {
    margin: 20px 20px 0 20px;
    padding: 12px 10px;

}

.view-channel {
    text-align: center;
    padding: 30px 0 80px 0;
    font-size: 16px;
    color: white;
}

.view-channel a {

    font-size: 16px;
    font-weight: bold;
    color: white;
}

/* Included In All Section End */


/* Spotlight Section Start */
.spotlight {
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../assets/images/sports-bg.jpeg');
    background-size: cover;
    width: 100vw;
    height: 150vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.spotlight .spotlight-container {
    padding: 200px;
    padding-left: 200px;
    height: 150vh;
    width: 100vw;
}


.spotlight-tab .spotlight-tab-links {
    padding: 0 40px 10px 0;
    background: none;
    font-size: 12px;
    font-weight: bold;
    color: rgb(144, 136, 136);
    cursor: pointer;
}

.spotlight-tab .spotlight-tab-links.active span {
    padding-bottom: 15px;
    border-bottom: 5px solid white;
    color: white;
}

.spotlight-tab .spotlight-tab-links:hover span {

    color: rgb(124, 104, 104);
}




.spotlight-info {
    padding-top: 35px;
}

.spotlight-info .common-p {
    width: 500px;
}

.sports-icons {
    display: flex;
}

.sports-icons img {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 25px 25px 15px 0;
    background-color: white;

}

.third.disclaimer-comment {
    margin-top: 20px;
}

/* Spotlight Section Start */




/* Select plan section start */
.select-plan {
    padding: 70px 20px 10px 20px;
    width: 100vw;
    /* overflow: hidden; */
    background-color: var(--hulu-dark);
}

.select-plan-paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.select-plan-paragraphs p span {
    font-size: 16px;
    font-weight: bold;
    color: white;
}


.scroll-table {
    display: block;
    height: 500px;
    overflow-y: scroll;
}

.scroll-table::-webkit-scrollbar {
    display: none;
}

table.table-plans {
    margin: 35px;
    padding: 15px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;


}


thead,
tbody tr {
    width: 75vw;
    display: table;
    table-layout: fixed;

}

.plan-table-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.plan-table-footer h2 {
    font-size: 16px;
}

.plan-table-footer img {
    width: 30px;
    height: 30px;
    cursor: pointer;

}


th,
td {
    color: white;
    padding: 30px 5px;

}

td {
    font-size: 14px;

}

.table-plans td:nth-child(2n) {
    text-align: center;
}

.table-plans td:nth-child(3n) {
    text-align: center;
}

.table-plans th:nth-child(1) {
    text-align: center;


}


table.table-plans tr:nth-child(n) {

    border-top: 1px solid var(--hulu-grey);
    border-bottom: 1px solid var(--hulu-grey);
}

.plans-toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.toggle-plan {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 30px;

}


.toggle-tile {
    font-size: 14px;
}

.toggle-btn input {

    visibility: hidden;
}

.toggle-btn span {
    position: relative;
    width: 50px;
    height: 25px;
    background: #424957;
    display: block;
    border-radius: 100px;
    cursor: pointer;

}

.toggle-btn span:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
}


.plan-card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: flex-end;
}


.most-popular-badge {
    padding: 10px 30px;
    border-radius: 25px;
    background-color: var(--hulu-green);
    color: #16181D;
    font-size: 9px;
}



.trial-days {
    font-size: 14px;
    color: #BEC0C2;
}

.second-plan .plan-card .trial-days {
    padding-top: 15px;
}

.ads-feature {
    font-size: 18px;
}

.plan-price {
    padding: 15px 70px;
    border-radius: 5px;
    background-color: white;
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.plan-price:hover {

    background-color: rgb(199, 198, 198);

}

.plan-disclaimer-comment {
    padding: 5px 0 80px 0;
    font-size: 10px;

}

.scroll-table img {
    height: 25px;
    width: 20px;
}


.not-checked {
    width: 15px;
    height: 1px;
    background: white;
    margin: auto;
}

/* Select plan section end */


/* Footer Section start */

footer {
    
    background-color: #E8EAED;
    padding-bottom: 50px;
   

}

.footer-1-container,
.footer-2-container {
    display: flex;
    padding: 80px 80px 0px 80px;
    margin: 0px 80px;
    gap: 50px; 
}


.footer-2-container {
    flex-direction: column;
}

footer h3 {
    font-size: 12px;
    color: #272C34;
    padding-bottom: 5px;
}

footer a {
    font-size: 14px;
    color: #586174;
    text-decoration: none;
}

.links-container {
    display: flex;
    gap: 5px;
   
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

hr.solid {
    border-top: 1px solid #cfcfcf;
}

.social-media-links {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.social-media-links img {
    height: 20px;
    width: 20px;
}

.legal-links{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.legal-links a{
    font-size: 12px;
}

.about-ads{
    display: flex;
    align-items: center;
}
.about-ads img{
    height: 18px;
    width: 18px;
}

/* Footer Section end */



/* Media Query for low resolution  Tablets, Ipads */
@media(max-width: 767px) {

    .header {
        height: 100%;
    }


    .included-in-all .included-paragraph {
        padding: 0px 60px;
    }
}